<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <title>App Engine Tests</title>
</head>
<body>
    <h1 style="color: #111;
               font-family: 'Helvetica Neue',
               sans-serif; font-weight: bold;
               letter-spacing: -1px; line-height: 1"> Canto's App Engine Tests</h1>
    <hr>
    <a href="/signup">Sign-Up</a>
    <a href="/list">List</a>
    <a href="/fizzbuzz">FizzBuzz</a>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>