<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

<h2>Sign-Up</h2>
<form method = "post">
    <span>Username:</span><input type="text" name="username" value="{{userName}}">
    <span name="userError" class="error">{{userError}}</span><br>

    <span>Password:</span><input type="password" name="password">
    <span name="passError" class="error">{{passError}}</span><br>

    <span>Confirm Password:</span><input type="password" name="verify">
    <span name="verifyError" class="error">{{verifyError}}</span><br>

    <span>E-mail(optional):</span><input type="text" name="email" value="{{email}}">
    <span name="emailError" class="error">{{emailError}}</span><br>

    <input type="submit" value="Submit">
</form>